body{
	background-color: #f0eae6;
}

.venstre {
	float: left;
	width: 20%;
	background-color: red;
}
.bilder {
	float: left;
	width: 70%;
	background-color: orange;
}
.jump {
	float: left;
	width: 10%;
	background-color: yellow;
}
.vofs {
	border: 1px solid #665544;
	width: 70%;
	/*display: block;
	margin: auto;
    height: auto;
    opacity: 1;*/
}
iframe {
	border: 2px solid #665544;
	display: block;
	margin: auto;
}
h1 {
	font-family: Arial, Verdana, Times;
	text-align: center;
	font-size: 35;
}
.jump{
	font-family: Arial, Verdana, "Times New Roman";
	font-size: 20;
	position: fixed;
	/*top: 10;
	right: 10;
	z-index: 1;*/
}
h2 {
	position: fixed;
	bottom: 5;
	right: 5;
	z-index: 1;
}

a:link {
	color: #cc6600;
}

a:visited {
	color: #cc6600;
}
.side {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	height: 105%;
}
#next2 {
	text-align: center;
}
#selfie {
	font-size: 20;
	float: left;
}